# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
android/.gradle/
*.lock

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Docker
.docker/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Environment
.env
*.env
